---
# Install Jenkins CI/CD server

- name: Install Java
  apt:
    name: openjdk-11-jdk
    state: present
    update_cache: yes

- name: Add Jenkins apt key
  apt_key:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io.key
    state: present

- name: Add Jenkins repository
  apt_repository:
    repo: "deb https://pkg.jenkins.io/debian-stable binary/"
    state: present

- name: Install Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes

- name: Start and enable Jenkins
  service:
    name: jenkins
    state: started
    enabled: yes

- name: Open firewall port for Jenkins
  ufw:
    rule: allow
    port: "{{ jenkins_port }}"
    proto: tcp
  when: configure_firewall | bool
